# Mailtrap SMTP settings (Get your own credentials at mailtrap.io)
MAIL_USERNAME=your_mailtrap_username_here
MAIL_PASSWORD=your_mailtrap_password_here
MAIL_FROM=noreply@safemektep.kz
MAIL_PORT=2525
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_FROM_NAME=SafeMektep